<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Never lose track of an idea again!</p>
  <a href="/ideas/add" target="_blank" class="btn btn-dark btn-lg">Add your idea</a>
</div>
