{{#each ideas}}
  <div class="card card-body mt-4">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-info btn-block">Edit</a>
  </div>
{{else}}
  <p>No ideas yet. Why don't you add one?</p>
{{/each}}
